<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common-js">
  <!-- 引入 Vue -->
  <script src="/assets/vue/vue3.min.js"></script>
  <script src="/assets/element-plus/index.full.js"></script>
  <!--    引入element-ui中文-->
  <script src="/assets/element-plus/locale/zh-cn.js"></script>
  <!-- 引入 ElementPlus 图标 -->
  <script src="https://unpkg.com/@element-plus/icons-vue@2.1.0/dist/index.iife.js"></script>
  <!-- 引入 Axios -->
  <script src="/assets/axios/axios.min.js"></script>

  <!--  引入本地js工具库-->
  <script src="/tools/axios-instance.js"></script>
  <script src="/tools/notification.js"></script>
  <script src="/tools/js-tools.js"></script>
  <script src="/tools/DateUtils.js"></script>
  <script src="/assets/lodash/lodash.min.js"></script>


  <!-- 菜单配置 -->
  <script src="/config/menu-config.js"></script>
  <!-- 工具类 -->
  <script src="/tools/AuthUtils.js"></script>

  <!-- 引入页面组件 -->
  <script src="/component/header.js"></script>
  <script src="/component/sidebar.js"></script>
  <script src="/component/footer.js"></script>
  <script src="/component/fileupload/ImageUpload.js"></script>
  <script src="/component/fileupload/FileUpload.js"></script>


  <script src="/component/BackendLayout.js"></script>
</th:block>
</html>
