<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>重置密码</title>
    <th:block th:include="~{include/common-css::imports}"></th:block>
    <link rel="stylesheet" type="text/css" href="/site/css/login.css">
</head>
<body>
<div id="app">
    <reset-password></reset-password>
</div>
<!-- 引入 Vue、Element UI 等公用js文件-->
<script src="/assets/vue/vue3.min.js"></script>
<script src="/assets/element-plus/index.full.js"></script>
<script src="https://unpkg.com/@element-plus/icons-vue@2.1.0/dist/index.iife.js"></script>
<script src="/assets/axios/axios.min.js"></script>

<!--  引入本地js工具库-->
<script src="/tools/axios-instance.js"></script>
<script src="/tools/notification.js"></script>
<script src="/tools/js-tools.js"></script>
<script src="/tools/AuthUtils.js"></script>

<!-- 引入组件 -->
<script src="/views/reset-password/ResetPassword.js"></script>
<script>
    const {createApp, reactive, ref} = Vue;
    const app = {
        components: {
            ResetPassword
        },
        setup() {
        }
    };
    createApp(app).use(ElementPlus).mount('#app');
</script>
</body>
</html> 